{% extends 'base.html' %}

{% block content %}


<!-- Hero Video -->
<div class="video", style="text-align: center; margin-top: 4vh">
    <video autoplay muted loop id = "backgroundVideo", style="width: 100%">
        <source src="../static/video/Home.mp4">
</div>




  <!-- Start of Footer -->
<footer id="footer">
    <img src="../static/images/logo.png" alt="Footer Logo" id="footer-logo">
    <div style="text-align:center; margin-bottom: 2vh;">
        <h5>&copy Vision Analytics 2022</h5>
</div>
</footer>
<!-- End of Footer -->


</div>

{% endblock content %}